.rectangle {
    display: inline-block;
    width: 600px;
    height: 800px;
    background: rgb(156, 112, 54);
    border-radius: 60px;
    box-shadow: 11px 12px 13px 12px rgb(78, 49, 21);
  }

.square {
    display: inline-block;
    width: 200px;
    height: 200px;
    border-radius: 60px;
    background: rgb(156, 112, 54);
    box-shadow: 5px 6px 7px 6px rgb(78, 49, 21);
  }

.img {
    max-width: 100%;
    max-height: 50%;
    width: auto\9; /* ie8 */
}
